<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Add linear actuator joint to ros2_control configuration -->
  <xacro:macro name="linear_actuator_ros2_control">
    <joint name="linear_actuator_to_linear_actuator_plate_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

</robot>