<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Macro to attach a nut runner tool to a tool holder link.
    
    The runner consists of:
    - runner_link: The main runner link with mesh geometry
    - block_to_runner_joint: Joint connecting tool_holder_link to runner_link
    - ratchet_extension_link: Mounting point for camera/end effector
    - runner_to_tool_head_joint: Joint connecting runner to tool head
    
    Usage:
      <xacro:include filename="$(find arpa_description)/urdf/runner.xacro"/>
      <xacro:runner parent_link="tool_holder_link"/>
  -->
  <xacro:macro name="runner" params="
      parent_link
      runner_mesh:='$(find arpa_description)/meshes/realrunner.stl'
      runner_origin_xyz:='0.0445 -0.0055 -0.006'
      runner_origin_rpy:='0 0 ${pi}'
      runner_mount_xyz:='0.08 0 -0.025'
      runner_mount_rpy:='0 ${pi} ${pi/2.}'
      mass:=0.5
      scale:='1.0 1.0 1.0'">

    <!-- Nut runner tool (below tool holder block) -->
    <link name="runner_link">
      <visual>
        <geometry>
          <mesh filename="file://${runner_mesh}" scale="${scale}"/>
        </geometry>
        <origin xyz="${runner_origin_xyz}" rpy="${runner_origin_rpy}"/>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://${runner_mesh}" scale="${scale}"/>
        </geometry>
        <origin xyz="${runner_origin_xyz}" rpy="${runner_origin_rpy}"/>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001"/>
      </inertial>
    </link>

    <!-- Mount runner to parent link (tool_holder_link) -->
    <joint name="block_to_runner_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="runner_link"/>
      <origin xyz="${runner_mount_xyz}" rpy="${runner_mount_rpy}"/>
    </joint>

    <!-- Tool head link (attachment point for camera and end effector) -->
    <link name="ratchet_extension_link">
      <visual>
        <geometry>
          <cylinder radius=".005" length="0.1"/>
        </geometry>
        <origin xyz="0 0 0"/>
        <material name="gantry_gray"/>
      </visual>
      <collision>
        <geometry>
          <cylinder radius=".01" length="0.12"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="5.0"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <!-- Mount tool head to runner -->
    <joint name="runner_to_ratchet_extension_joint" type="fixed">
      <parent link="runner_link"/>
      <child link="ratchet_extension_link"/>
      <origin xyz="0.06 0 0.175" rpy="0 ${pi/2.} 0"/>
    </joint>

  </xacro:macro>

</robot>
