<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Materials (pillar_gray, gantry_gray, camera_black, etc.) defined in gantry.xacro via default_materials -->

  <!--
    Macro to attach a tool holder and camera to a parent link (default: tool0)
    Usage:
      <xacro:tool_holder parent_link="tool0" sim_gazebo="true"/>
  -->
  <xacro:macro name="tool_holder" params="
      parent_link
      block_mesh:='$(find arpa_description)/meshes/tool_holder.stl'
      block_origin_xyz:='-0.0055 -0.0055 -0.006'
      block_origin_rpy:='${pi/2.} ${3*pi/2.} 0'
      mass:=0.5
      scale:='1.0 1.0 1.0'
      sim_gazebo:=false">

    <!-- Grey block (tool holder) at wrist -->
    <link name="tool_holder_link">
      <visual>
        <geometry>
          <mesh filename="file://${block_mesh}" scale="${scale}"/>
        </geometry>
        <origin xyz="${block_origin_xyz}" rpy="${block_origin_rpy}"/>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://${block_mesh}" scale="${scale}"/>
        </geometry>
        <origin xyz="${block_origin_xyz}" rpy="${block_origin_rpy}"/>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001"/>
      </inertial>
    </link>

    <joint name="ur_tool_holder_mount" type="fixed">
      <parent link="${parent_link}"/>
      <child link="tool_holder_link"/>
      <origin xyz="${block_origin_xyz}" rpy="${block_origin_rpy}"/>
    </joint>

  </xacro:macro>

</robot>