<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="parker_actuator_system">

  <!-- Include the macro definition -->
  <xacro:include filename="$(find parker_controller_interface)/urdf/parker_linear_actuator_macro.urdf.xacro" />

  <!-- World/Base link -->
  <link name="world">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.01"/>
      </geometry>
      <material name="world_gray">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
  </link>

  <!-- Instantiate the Parker linear actuator macro -->
  <xacro:parker_linear_actuator attach_link="world" origin="0 0 0.05 0 0 0"/>

</robot>