<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="parker_linear_actuator_ros2_control" params="name host port">

    <ros2_control name="${name}" type="actuator">

      <hardware>
        <plugin>parker_controller_interface/ParkerControllerInterface</plugin>
        <param name="host">${host}</param>
        <param name="port">${port}</param>
      </hardware>
      
      <joint name="linear_actuator_joint">
        <!-- State interfaces -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
        
        <!-- Command interfaces -->
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">0.5</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.1</param>
          <param name="max">0.1</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-100.0</param>
          <param name="max">100.0</param>
        </command_interface>
      </joint>
      
    </ros2_control>

  </xacro:macro>

</robot>
