<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="parker_linear_actuator_only" params="name prefix">
    <group name="parker_linear_actuator">
      <joint name="linear_actuator_to_linear_actuator_plate_joint"/>
    </group>
    <group_state name="actuator_home" group="parker_linear_actuator">
      <joint name="linear_actuator_to_linear_actuator_plate_joint" value="-1.12"/>
    </group_state>
    <virtual_joint name="world" type="fixed" parent_frame="world" child_link="${prefix}floor_link"/>
    <disable_collisions link1="${prefix}linear_actuator_link" link2="${prefix}linear_actuator_plate_link" reason="Adjacent"/>
  </xacro:macro>
</robot>